# Dependencies
node_modules
.pnp
.pnp.*

# Build output
.next
out
dist
build

# Logs
*.log

# Environment files
.env*

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Cache
.turbo
.eslintcache
